{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}
<!----wrap----->
<div id="wrap">
<div class="row" style="margin-top: 30px;">
 <div id="contenedor-menup">
  <div class="col left l12 s12"> 
      <div class="foto-perfil">
          <img src="{% static 'app/img/dog.png' %}">
          
      </div>
      <div class="menu-perfil">
      <h4>Bienvenido {{ user.username }}</h4>
      <hr>
      <div class="link">
        <div class="text"><a href="{% url 'perfil' %}"> Mi Perfil</a></div>
      </div>
      <hr>
  <div class="link">
    <div class="text"><a href="{% url 'pedido' user.id %}"> Mis pedidos</a></div>
  </div>
  <hr>
  <div class="link">
    <div class="text"><a href="{% url 'carrito' user.id %}"> Carrito de compra</a></div>
  </div>
  <hr>
  <div class="link">
    <div class="text"><a href="{% url 'direccion' %}"> Mis direcciones</a></div>
  </div>
  <hr>
  
  <div class="centrar">
  <a href="{% url 'logout' %}" class="waves-effect red darken-4 btn-small">Cerrar Sesión</a>
  </div>
    </div><!---div menu perfil-->
  
  </div><!---cierre columna central-->
  </div><!----contenedor menu-->

  <div id="contenedor-perfil" class="col l8 s12 ">
    <h4>Mi perfil</h4>
    <div id="foto-cuenta">
        <img src="{% static 'app/img/dog.png' %}" width="150px">
        
    </div>
    <div id="lista-usuario">
    <ul>
      <li>Nombre usuario: {{ user.username }} </li>
      <li>Correo: {{ user.email }}</li>
      <li>Contraseña: <input style="width:180px;" id="password" type="password" class="validate"></li>
      <li>Suscrito:<label>
        <input type="checkbox" class="filled-in" checked="checked" />
        <span></span>
      </label></li>
      <li>Dirección Predeterminada: Casa</li>

    </ul>

    <button class="btn waves-effect color-btn" type="submit" name="action">Editar
    
    </button>
    <button class="btn waves-effect red darken-3" type="submit" name="action">Actualizar   
    </button>
  </div><!-----cierre info perfil-->
    
    </div><!------cierra col 8-->

  </div><!---cierre div row todo-->

                   
</div><!-------wrap-->
     
    <!----Script del menu del perfil---->
    <script>
        var links = document.getElementsByClassName('link')
        for(var i = 0; i <= links.length; i++)
           addClass(i)
        
        
        function addClass(id){
           setTimeout(function(){
              if(id > 0) links[id-1].classList.remove('hover')
              links[id].classList.add('hover')
           }, id*750) 
        }</script>
{% endblock %}